body {
background-color: #707070;
color: black;
}

H1{
	text-align: center;	
}

.picture{
display: block;
margin-left: auto;
margin-right: auto;

}

.description{
	display: block;
	margin-left: 30px;
}

div#wrapper {
background-color: white;
width: 840px;

text-align: left;

margin-top: 20px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
padding: 15px;
border: thin solid #000000;
}