.armRegister .indexLabel {
	width: 48px;
	text-align: right;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.NEONRegister .indexLabel {
	width: 30px;
	text-align: right;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.selected {
	
}

.memoryElement .indexLabel {
	width: 50px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.memoryElement,.NEONRegister,.armRegister {
	width: 100%
}

.memoryElement.selected *,.NEONRegister.selected *,.armRegister.selected *
	{
	background-color: #FFFF99
}

.NEONRegister.selected .numberInputTextBox,.armRegister.selected .numberInputTextBox,.memoryElement.selected .numberInputTextBox {
	background-color: #FFFFCC
}

.selected .indexLabel {
	color: black
}

.singleWordEdit {
	marin: 0;
	padding: 0;
	border: 0
}

.doubleWordEdit {
	
}

.numberInputTextBox {
	width: 100%;
	margin: 0;
	max-width: 1000px;
	min-width: 5px;
	text-align: right;
	padding: 0;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: lightgrey;
	border-collapse: collapse;
}

.breakPointHighlighter {	
	cursor: pointer;	
}

.breakPoint .breakPointHighlighter { /*border-left-style: solid;*/
	/*	border-left-width: 3px;*/ /* 	background-color: #FFAAAA; */
	background-image: url(images/breakpoint.png);
	background-position: center;
	background-repeat: no-repeat;
}

.typeLinker {
	width: 20px;
	minimum-width: 20px;
	minimum-height: 20px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/unlinked.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	outline-style: none;
}

.typeLinker.linked {
	width: 20px;
	minimum-width: 20px;
	minimum-height: 20px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/linked.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	outline-style: none;
}

/* .invalidInstruction{ */
/* 	border-color: red; */
/* 	border-width: 2px; */
/* 	border-style: solid; */
/* } */
.invalidInstruction {
	
}

.invalidInstruction .gwt-TextBox{
	color: #FF0000;
	font-weight:bold;
}

.nextInstruction .gwt-TextBox {
	background-color: #BBFFBB;
}

.invalidInstruction.nextInstruction .gwt-TextBox{
/* 	background-color: orange; */
/* 	border-color: red */
	color: #FF0000;
	font-weight:bold;
}

.valueJustChanged {
	background-color: #B6FF91
}

.selected * .valueJustChanged {
	background-color: #D9FF9D !important
}

.selected * .valueJustChanged * .invalidNumber {
	background-color: #CC6633 !important
}

/*invalid number*/
.invalidNumber {
/* 	background-color: #FF3303 !important */
	color: #FF0000;
/* 	font-weight:bold; */
}

.selected .invalidNumber {
/* 	background-color: #FF6633 !important */
}

/*ENDOF invalid number*/
/* external */
@external gwt-TextBox;
@external gwt-SimplePanel;